@import url(https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin,cyrillic-ext);
@font-face {
  font-family: "Myriad Pro";
  /* Имя шрифта */
  src: url(../fonts/MyriadPro/MyriadPro-Regular.otf);
  /* Путь к файлу со шрифтом */
}
html,
body {
  font-family: Roboto;
}
header .wrapper-menu {
  width: 100%;
  height: 111px;
  margin: 0;
}
header .wrapper-menu .navbar-replace {
  height: 100%;
  margin: 0;
}
header .wrapper-menu .navbar-replace .container {
  height: 100%;
}
header .wrapper-menu .navbar-replace .container .navbar-header {
  height: 100%;
  margin: 0;
}
header .wrapper-menu .navbar-replace .container .navbar-header .navbar-brand {
  padding: 0;
  padding-top: 8px;
}
header .wrapper-menu .navbar-replace .container .navbar-header .navbar-brand .logo {
  max-width: 330px;
}
header .wrapper-menu .navbar-replace .container .navbar-collapse {
  height: 100%;
}
header .wrapper-menu .navbar-replace .container .navbar-collapse ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  margin-top: 36px;
}
header .wrapper-menu .navbar-replace .container .navbar-collapse ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 23px;
}
header .wrapper-menu .navbar-replace .container .navbar-collapse ul li:after {
  display: inline-block;
  content: "/";
  color: #1ea256;
  margin-left: 23px;
}
header .wrapper-menu .navbar-replace .container .navbar-collapse ul li:first-child {
  margin-left: 0;
}
header .wrapper-menu .navbar-replace .container .navbar-collapse ul li:last-child:after {
  display: none;
  content: "";
  margin: 0;
}
header .wrapper-menu .navbar-replace .container .navbar-collapse ul a {
  color: #6d6c6c;
}
header .wrapper-menu .navbar-replace .container .navbar-collapse ul a:visited {
  color: #6d6c6c;
}
header .header-photo {
  height: 440px;
  background-image: url('../img/header-bg-photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 25%;
  padding: 0;
}
header .header-photo .container {
  padding: 0;
  padding-top: 63px;
  text-transform: uppercase;
}
header .header-photo .container .row {
  color: white;
  padding: 0;
}
header .header-photo .container .row h1 {
  margin: 0;
  padding: 0;
  font-size: 51px;
  font-weight: 400;
}
header .header-photo .container .row h2 {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  font-size: 35px;
  font-weight: 400;
  font-family: "Myriad Pro";
}
header .header-photo .container .row h3 {
  margin: 0;
  margin-top: 10px;
  font-size: 34px;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.43);
  /* Цвет фона */
  padding-bottom: 4px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  display: inline-block;
}
header .header-photo .container .row .count {
  font-size: 50px;
  font-weight: 500;
}
header .header-photo .container .row button {
  margin: 0;
  display: block;
  width: 293px;
  height: 63px;
  background-color: #4b2c39;
  background-image: -webkit-linear-gradient(bottom, #1ea256 0%, #1ea256 100%);
  background-image: linear-gradient(to top, #1ea256 0%, #1ea256 100%);
  border-radius: 5px;
  border-color: rgba(30, 162, 86, 0.43);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.26);
  margin-top: 27px;
  color: white;
  font-family: "Myriad Pro";
  font-size: 24px;
  font-weight: 700;
}
main .chapter-line {
  height: 1px;
  background-color: #d6d6d6;
  margin-top: 50px;
  width: 95%;
}
main .chapter1 {
  padding: 0;
}
main .chapter1 .row {
  padding: 0;
}
main .chapter1 .row .wrapper-qutes {
  padding: 0;
}
main .chapter1 .row .wrapper-qutes .qutes {
  padding-top: 90px;
  height: 100%;
}
main .chapter1 .row .wrapper-qutes .quteblock {
  position: relative;
}
main .chapter1 .row .wrapper-qutes .quteblock p {
  padding: 0;
  border: none;
  margin: 0;
  color: #8c8b8b;
  font-family: "Myriad Pro";
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  width: 95%;
}
main .chapter1 .row .wrapper-qutes .qutes-image {
  background-image: url("../img/icons/qutes.png");
  background-repeat: no-repeat;
  width: 46px;
  height: 35px;
  position: absolute;
  bottom: -14px;
  right: -18px;
}
main .chapter2 {
  padding: 0;
  margin-top: 51px;
}
main .chapter2 .row {
  padding: 0;
}
main .chapter2 .row .statics {
  padding: 0;
  text-align: center;
}
main .chapter2 .row .statics .image:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
main .chapter2 .row .statics .image {
  height: 115px;
  width: 255px;
  background-color: #e8e8e8;
  border: 5px solid white;
  border-bottom: none;
  text-align: center;
  margin: 0 auto;
  cursor: default;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.15);
}
main .chapter2 .row .statics .image .icons {
  margin: 0 auto;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
main .chapter2 .row .statics .image .icon-flag {
  background-image: url("../img/icons/flag.png");
  width: 39px;
  height: 44px;
}
main .chapter2 .row .statics .image .icon-people {
  background-image: url("../img/icons/people.png");
  width: 65px;
  height: 41px;
}
main .chapter2 .row .statics .image .text-wrapper {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-family: Roboto;
  font-size: 30px;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 400;
}
main .chapter2 .row .statics .image .text-wrapper .text {
  margin: 0;
  padding: 0;
  line-height: 30px;
}
main .chapter2 .row .statics .image .text-wrapper .text .counter {
  font-weight: 700;
  margin: 0;
  padding: 0;
}
main .chapter2 .row .statics .image .text-wrapper .text .counter:after {
  content: " ";
}
main .chapter2 .row .statics .title {
  display: block;
  font-size: 30px;
  color: #8c8b8b;
  font-weight: 400;
  margin-top: 40px;
}
main .chapter2 .row .statics .description {
  padding: 0;
  margin: 0 auto;
  line-height: 1.1em;
  display: block;
  color: #8c8b8b;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 400;
  margin-top: 28px;
  max-width: 170px;
}
main .chapter3 {
  padding: 0;
  margin-top: 94px;
}
main .chapter3 .row {
  padding: 0;
}
main .chapter3 .title-line-wrapper {
  text-align: center;
  padding: 0;
}
main .chapter3 .title-line-wrapper .title-line-block {
  text-align: center;
  padding: 0;
}
main .chapter3 .title-line-wrapper .title-line-block .path-line {
  display: inline-block;
  height: 1px;
  width: 30%;
  background-color: #d6d6d6;
}
main .chapter3 .title-line-wrapper .title-line-block .title-chapter {
  display: inline-block;
  background-color: #1ea256;
  color: white;
  font-size: 22px;
  font-weight: 400;
  margin: 0 auto;
  padding: 12px 55px;
  margin-left: 24px;
  margin-right: 24px;
}
main .chapter3 .line-project-wrapper {
  margin-top: 95px;
  position: relative;
}
main .chapter3 .line-project-wrapper .line-project-img {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/icons/line-project.png");
  background-size: contain;
  width: 889px;
  height: 38px;
}
main .chapter3 .line-project-wrapper .step-block .icon-step {
  width: 68px;
  height: 68px;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
}
main .chapter3 .line-project-wrapper .step-block .shpere {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/sphere.png");
  margin: 0 auto;
  margin-top: 32px;
}
main .chapter3 .line-project-wrapper .step-block .description-step {
  text-align: center;
  margin-top: 20px;
}
main .chapter3 .line-project-wrapper .step-block .description-step p {
  font-weight: 400;
  line-height: 19px;
  font-size: 18px;
  color: #8c8b8b;
}
main .chapter3 .line-project-wrapper .step-block .description-step .date {
  font-size: 22px;
}
main .chapter3 .line-project-wrapper .step-block .step1 {
  background-image: url("../img/icons/icon-competition1.png");
}
main .chapter3 .line-project-wrapper .step-block .step2 {
  background-image: url("../img/icons/icon-competition2.png");
}
main .chapter3 .line-project-wrapper .step-block .step3 {
  background-image: url("../img/icons/icon-competition3.png");
}
main .chapter3 .line-project-wrapper .step-block .step4 {
  background-image: url("../img/icons/icon-competition4.png");
}
main .chapter4 {
  padding: 0;
  margin-top: 85px;
}
main .chapter4 .row {
  padding: 0;
}
main .chapter4 .title-line-wrapper {
  text-align: center;
  padding: 0;
}
main .chapter4 .title-line-wrapper .title-line-block {
  text-align: center;
  padding: 0;
}
main .chapter4 .title-line-wrapper .title-line-block .path-line {
  display: inline-block;
  height: 1px;
  width: 30%;
  background-color: #d6d6d6;
}
main .chapter4 .title-line-wrapper .title-line-block .title-chapter {
  display: inline-block;
  background-color: #1ea256;
  color: white;
  font-size: 22px;
  font-weight: 400;
  margin: 0 auto;
  padding: 12px 70px;
  margin-left: 26px;
  margin-right: 26px;
}
main .chapter4 .face-project-wrapper {
  margin-top: 99px;
  position: relative;
}
main .chapter4 .face-project-wrapper .face-block .image-wrapper {
  text-align: center;
  margin-bottom: 17px;
}
main .chapter4 .face-project-wrapper .face-block .image-wrapper img {
  width: 110px;
  height: 110px;
  margin: 0 auto;
}
main .chapter4 .face-project-wrapper .face-block p {
  text-align: center;
  color: #8c8b8b;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
}
main .chapter5 {
  padding: 0;
  margin-top: 87px;
}
main .chapter5 .row {
  padding: 0;
}
main .chapter5 .title-line-wrapper {
  text-align: center;
  padding: 0;
}
main .chapter5 .title-line-wrapper .title-line-block {
  text-align: center;
  padding: 0;
}
main .chapter5 .title-line-wrapper .title-line-block .path-line {
  display: inline-block;
  height: 1px;
  width: 30%;
  background-color: #d6d6d6;
}
main .chapter5 .title-line-wrapper .title-line-block .title-chapter {
  display: inline-block;
  background-color: #1ea256;
  color: white;
  font-size: 22px;
  font-weight: 400;
  margin: 0 auto;
  padding: 12px 70px;
  margin-left: 26px;
  margin-right: 26px;
}
main .chapter5 .footer-project-wrapper {
  margin-top: 74px;
  position: relative;
}
main .chapter5 .footer-project-wrapper .wrapper-contacts {
  text-align: left;
}
main .chapter5 .footer-project-wrapper .wrapper-contacts .contacts .info {
  clear: both;
}
main .chapter5 .footer-project-wrapper .wrapper-contacts .contacts .info .icons {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  float: left;
}
main .chapter5 .footer-project-wrapper .wrapper-contacts .contacts .info .text-info {
  color: #8c8b8b;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 400;
  float: left;
  margin-top: 9px;
  margin-left: 18px;
}
main .chapter5 .footer-project-wrapper .wrapper-contacts .contacts .info .icon-phone {
  background-image: url("../img/icons/icon-phone.png");
}
main .chapter5 .footer-project-wrapper .wrapper-contacts .contacts .info .icon-email {
  background-image: url("../img/icons/icon-email.png");
}
main .chapter5 .footer-project-wrapper .wrapper-contacts .contacts .info .icon-maps {
  background-image: url("../img/icons/icon-maps.png");
}
main .chapter5 .footer-project-wrapper .wrapper-project-info {
  text-align: right;
}
main .chapter5 .footer-project-wrapper .wrapper-project-info .block-info {
  color: #8c8b8b;
  font-family: "Myriad Pro";
  font-weight: 400;
}
main .chapter5 .footer-project-wrapper .wrapper-project-info .block-info .name-position {
  font-size: 16px;
}
main .chapter5 .footer-project-wrapper .wrapper-project-info .block-info .name {
  font-size: 20px;
}
main .chapter5 .wrapper-rss {
  text-align: left;
  padding-bottom: 30px;
}
main .chapter5 .wrapper-rss .hr-rss {
  background-color: #d6d6d6;
  width: 337px;
  height: 1px;
  float: left;
  display: block;
}
main .chapter5 .wrapper-rss .icons {
  width: 32px;
  height: 32px;
  display: block;
  background-repeat: no-repeat;
  margin-top: 0px;
  float: left;
  cursor: pointer;
}
main .chapter5 .wrapper-rss .icon-fb {
  background-image: url("../img/icons/slice.png");
  margin-left: 15px;
}
main .chapter5 .wrapper-rss .icon-tw {
  background-image: url("../img/icons/twitter.png");
  margin-left: 9px;
}
